<html>
  <head>
    <title><%= title %></title>
    <link rel="styleSheet" href="/css/layout.css">
    <link rel="styleSheet" href="/css/header.css">
    <link rel="styleSheet" href="/css/admin_dashboard.css">
    <link rel="styleSheet" href="/css/user_dashboard.css">
    <%- style %>
  </head>
  <body>
    <%- include('_header'); %>
    <main id="layout-main">
       <%- body %>
    </main>
   
    <%- script %>
  </body>
</html>
